body {
    margin: 0;
}

header {
    background-color: rgb(22, 98, 193);

    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: auto;
    margin-bottom: -20px;
}

.logo-link {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-aro;
    align-items: center;

    text-decoration: none;
}

.fa-plane-departure {
    margin-right: 5px;
}

.logo-img {
    
}

.logo-name {
    margin-left: 5px;
}

.header-nav {
    
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-links {
    text-decoration: none;
    margin-right: 10px;
    color: white;
}

.welcome-sec {
    background-color: rgb(22, 98, 193);
    min-height: auto;
    margin-top: 0;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 40px;

}

.first-welcome-div {
    display: flex;
}

.intro-div {
    flex: 7;
}

.intro-div h1 {
    color: rgb(202, 255, 250);
    font-size: 70px;
    margin-bottom: 0;

}

.header-color2 {
    color: white;
}

.intro-div p {
    color: white;
    font-size: 15px;
    width: 500px;
}

.intro-div button {
    background-color: rgb(202, 255, 250);
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 12px 20px rgba(202, 255, 250, 0.4);
}

.intro-icon-div {
    flex: 3;
}

.intro-icon {
    height: 300px;
    width: 400px;
}

/*.second-welcome-div {
    background-image: url("Images/church-2106621_1920.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    background-position: center ;
}*/

.intro-img {

}

.booking-div {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 12px 20px rgba(55, 58, 58, 0.15);
}

.option-div {

}

.option-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option-selector div {
    
}

.option-description {
    color: rgb(186, 186, 186);
    font-size: 12px;
    margin-left: 25px;
    margin-top: 12px;
}

.booking-btn {
    background-color: rgb(254, 239, 96);
    border: none;
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-sec {
    padding-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.services-sec-header {
    
}

.services-sec-header h2 {
    color: rgb(18, 85, 181);
    font-size: 40px;
    margin: 0;
}

.services-sec-header p {
    font-size: 13px;
}

.travel-service-div {
    margin-top: 50px;
}

.travel-service-div h2 {
    text-align: start;
    margin-left: 50px;
    margin-bottom: 50px;
}

.travel-service-icon-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    
}

.travel-service-icon-div  {
    
    text-align: center;
}

.travel-service-icon-div-color1 {
    background-color: rgb(194, 255, 239);
    padding: 20px 0px;
    border-radius: 20px;
}

.entertainment-service-icon-div-color1 {
    background-color: rgb(18, 85, 181);
    padding: 20px 0px;
    border-radius: 20px;
}

.entertainment-service-icon-div-color2 {
    background-color: rgb(254, 239, 96);
    padding: 20px 0px;
    border-radius: 20px;
}

.travel-service-icon {
    font-size: 50px;
}

.travel-service-icon-div p  {

}

.travel-service-icon-btn {
    background-color: rgb(61, 61, 61);
    color: white;
    border: none;
    padding: 5px 12px;
    font-size: 10px;
    border-radius: 5px;
}

.entertainment-service-div {
    margin-top: 50px;
}

.entertainment-service-div h2 {
    text-align: start;
    margin-left: 50px;
    margin-bottom: 50px;
}

.entertainment-service-icon-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.entertainment-service-icon-div  {

}

.entertainment-service-icon {
    font-size: 50px;
}

.tourism-icon {
    color: white;
}

.entertainment-service-icon-div p  {

}

.tourism-p {
    color: white;
}

.entertainment-service-icon-btn {
    background-color: rgb(61, 61, 61);
    color: white;
    border: none;
    padding: 5px 12px;
    font-size: 10px;
    border-radius: 5px;
}

.tourism-btn {
    color: black;
    background-color: white;
}

.places-sec {
    margin-top: 20px;
    background-color: rgb(243, 249, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.location-info {
    margin-right: 70px;
    margin-bottom: 20px;
}

.state {
    font-weight: bold;
    font-size: 20px;
    
}

.capital {
    font-weight: bold;
}

.city {
    font-weight: 300;
}

.days-to-spend {

}

.price {

}

.amount {
    color: rgb(33, 85, 156);
    font-size: 30px;
    font-weight: bold;
}

.quantity {
    font-size: 20px;
    font-weight: bold;
}

.loaction-btn {
    border: none;
    padding: 8px 12px;
    border-radius: 7px;
    background-color: rgb(254, 239, 96);
}

.location-img-div {
    margin-left: 70px;
}

.location-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.other-img-div {
    display: flex;
    justify-content:center;
    align-items: center;
}

.other-img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
    border-radius: 15px;
}

.popular-location-sec {
    margin-top: 40px;
    text-align: center;
}

.popular-location-sec-header {

}

.popular-location-sec-header h2 {
    font-size: 30px;
    color: rgb(33, 85, 156);
    font-weight: bold;
    margin-bottom: 0;
}

.popular-location-sec-header p {

}

.suggested-location-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.suggested-location-div {

}

.suggested-location-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.suggested-location-div p {
    margin-top: 0;
}

.location-cost {
    color: rgb(33, 85, 156);
    font-size: 30px;
    font-weight: bold;
}
.About{
    background-color: rgb(37, 105, 199);
    color: white;
}

.About h2{
   text-align: center;
   font-size: 25px;
   margin: 8px;
   padding: 8px;
   margin-left: -100px;
   color: white;
   
}

.team-container{
    display: flex;
    /* background-color: red; */
    flex-direction: row;
    /* justify-content: space-between; */
}


.Member {
padding: 50px;
flex-direction: column;
/* background-color: red; */
flex: wrap;
justify-content: space-between;

}
.box{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 10px;

    
}

.Member p {
    /* background-color: red; */
    padding: 10px;
    margin: 10px;
    max-width: 100%;
    text-align: center;
}

.Member #sub-image {
    margin-left: 50px ;
}

.Contact_us{
    background-color: rgb(243, 249, 255);
    margin-top: -10px;
}

.Contact_us h2{
    text-align: center;
   font-size: 25px;
   margin: 8px;
   padding: 8px;
   margin-left: -100px;
}
.container{
    margin-top: -5px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
textarea{
    display: flex;
}

footer {
    padding: 20px;
    margin-top: -10px;
    background-color: rgb(254, 239, 96);

} 

footer li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.footer_part{
    display: inline-flex;
}

.footer_part1{
    display: inline-flex;
    justify-content: flex-end;
}

.footer_part2{
    float: right;
}